<!DOCTYPE html>
<html>
<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="380547544178-ngpqb3c0sl176ur93v36h8s5gsu692tg.apps.googleusercontent.com">
  <% include ../partials/header.ejs %>
</head>
<script>
  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
      console.log('else');
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) { 
      console.log(' || accessToken '+  response.authResponse.accessToken)  // See the onlogin handler
      document.getElementById("fb-data").innerHTML = "Facebook token = "+response.authResponse.accessToken;
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '506195433180524',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v2.11'           // Use this Graph API version for this call.
    });


    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };

  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  var id_token = googleUser.getAuthResponse().id_token;
  console.log("ID Token: " + id_token);
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

  document.getElementById("gg-data").innerHTML = "Google token = "+id_token;
}
 
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=name,email', function(response) {
      console.log('Successful login for: ' + response.name + ' || email is '+ response.email +' || fb id '+ response.id);
    });
  }
  function onFailure() { console.error('Sign in has failed!'); }
</script>
<body>
<div class="container">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onFailure"></div>

<hr/>

<div id="fb-data">
</div>

<hr/>

<div id="gg-data">
</div>


<script src="https://apis.google.com/js/platform.js" async defer></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</body>
</html>
